<section class="mb-5">
    <div class="container">
        <h1 class="text-center mt-4 mb-4">Assembly & Retrofitting</h1>
        <div class="row flex-column flex-md-row">
            <div class="col col-md-6">
                <h2>Assemble locally and optimize the sustainability of your products.</h2>
                <p>We develop competitive assembly solutions right where your customers need them. This enables you to minimize your environmental impact through innovative solutions tailored to meet your requirements (quality, cost, time).</p>
                <p>Through retrofitting processes, we can upgrade hardware and software owned your business or included in your inventory (if required).</p>
            </div>
            <div class="col col-md-6">
                <img class="img-fluid shadow-sm" src="~/assets/AssemblyTest.jpg" />
            </div>
        </div>
    </div>
    <div class="container mt-5">
       
        <div class="row flex-column flex-md-row">
            <div class="col col-md-6">
                <h1>Conect with Us for More Details</h1>
            </div>
            <div class="col col-md-6">
                <a class="btn btn-primary" asp-controller="Home" asp-action="Contact">Contact Us</a>
            </div>
        </div>
    </div>
</section>
