<style>
    h1 {
        font-family: "Gotham", Arial;
        font-weight: bold;
    }

    .customRadious {
        margin-top: 40px;
        border-radius: 1rem !important;
    }

    .sectionGrdient {
        color: white;
        background-color: #121b2c;
        background-image: radial-gradient(59% 78% at 7% -2%, #1F3745 0%, transparent 100%), radial-gradient(56% 90% at 88% 46%, #2A1D30 0%, transparent 100%);
    }

    /* Section Styles */


    /* Custom List Styles */
    .custom-list {
        list-style-type: disc; /* Ensures dots are displayed */
        padding-left: 20px; /* Indent for bullets */
    }

        .custom-list li {
            margin-bottom: 10px; /* Space between list items */
            color: inherit; /* Keep text color as default */
            font-size: 1rem; /* Adjust text size if needed */
            line-height: 1.5; /* Improve readability */
        }

            .custom-list li::marker {
                color: #68e1fd; /* Primary color for bullet dots */
                font-size: 1.2rem; /* Slightly larger bullet dots */
            }
</style>
<div class="container-fluid p-0" style="padding-top:1rem !important;">
    <section id="extend-the-life" class="mb-5 py-5">
        <div class="container">
            <!-- Row with Image and Text -->
            <div class="row d-flex justify-content-center align-items-center">
                <h1 class="text-center">CPE Data Networks</h1>
                <!-- Image Column -->
                <div class="col-lg-5 col-sm-12 mb-4 mb-lg-0 d-flex justify-content-center">
                    <img src="~/assets/CPEData.jpeg" alt="cpe data" class="img-fluid customRadious" style="border-radius:10px">
                </div>
                <!-- Text Column -->
                <div class="col-lg-7 col-sm-12">
                    <h1 class="text-dark text-center mb-4 fw-bold">
                        High Volume Repair
                    </h1>
                    <p class="text-dark mb-3">
                        CTS has in-depth experience with OEMs, high-volume STB/CPE test, repair and logistics programs.
                    </p>
                    <p class="text-dark mb-3">
                        CTS offers a fully integrated service model whereby we provide screen & clean, testing, refurbishment and repair
                    </p>
                    
                </div>
            </div>
        </div>
    </section>


    <section id="extend-the-life" class="mb-5 sectionGrdient py-5">
        <div class="container">
            <!-- Section Heading -->
            <h1 class="text-center mb-4 fw-bold">
                A Comprehensive & Unique Capability to Support Low/Medium to High Volume Products, Supporting OEM, Third-Party & Multi-Vendor Repairs.
            </h1>
            <!-- Row with Lists -->
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <ul class="custom-list">
                        <li class="mb-2" style="color: inherit;">Power Amplifiers</li>
                        <li class="mb-2" style="color: inherit;">LNAs</li>
                        <li class="mb-2" style="color: inherit;">UMTS</li>
                        <li class="mb-2" style="color: inherit;">Transceivers</li>
                        <li class="mb-2" style="color: inherit;">Microwave Indoor Units</li>
                        <li class="mb-2" style="color: inherit;">Microwave Outdoor Units</li>
                        <li class="mb-2" style="color: inherit;">TMA</li>
                        <li class="mb-2" style="color: inherit;">Rectifiers</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <ul class="custom-list">
                        <li class="mb-2" style="color: inherit;">DC-DC Power Supplies</li>
                        <li class="mb-2" style="color: inherit;">AC-DC Power Supplies</li>
                        <li class="mb-2" style="color: inherit;">Embedded Control</li>
                        <li class="mb-2" style="color: inherit;">Line Cards</li>
                        <li class="mb-2" style="color: inherit;">Nortel/Alcatel BTS Support</li>
                        <li class="mb-2" style="color: inherit;">2G/3G/4G</li>
                        <li class="mb-2" style="color: inherit;">Wireline and Wireless</li>
                        <li class="mb-2" style="color: inherit;">Small Cell Systems</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <ul class="custom-list">
                        <li class="mb-2" style="color: inherit;">Distributed Antenna Systems</li>
                        <li class="mb-2" style="color: inherit;">RF Repeaters</li>
                        <li class="mb-2" style="color: inherit;">Tetra Radios</li>
                        <li class="mb-2" style="color: inherit;">Set Top Boxes</li>
                        <li class="mb-2" style="color: inherit;">ONT/ONU/OLT</li>
                        <li class="mb-2" style="color: inherit;">Switches/Routers</li>
                        <li class="mb-2" style="color: inherit;">Gateways / Modems</li>
                        <li class="mb-2" style="color: inherit;">10-100G Transport</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <ul class="custom-list">
                        <li class="mb-2" style="color: inherit;">Optical Add/Drop Multiplexer</li>
                        <li class="mb-2" style="color: inherit;">SONET / SDH / DWM</li>
                        <li class="mb-2" style="color: inherit;">Inverters, Solar Inverters</li>
                        <li class="mb-2" style="color: inherit;">Smart Meters</li>
                        <li class="mb-2" style="color: inherit;">10-100G Transport</li>
                        <li class="mb-2" style="color: inherit;">Optical Add/Drop Multiplexer</li>
                        <li class="mb-2" style="color: inherit;">SONET / SDH / DWM</li>
                        <li class="mb-2" style="color: inherit;">Many More…</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <section id="Deep-Technical-knowledge" class="mb-5">
        <div class="container">
            <!-- Section Title -->
            <h1 class="text-dark text-center mb-5">“Deep Technical knowledge and competences”</h1>

            <!-- Row with Icons and Text -->
            <div class="row text-center d-flex justify-content-center">
                <!-- Telecom -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-solid fas fa-code fa-3x text-primary mb-3"></i>
                        <h5 class="mt-2">Grow your Forward And Reverse Logistics</h5>
                    </div>
                </div>
                <!-- Enterprise Equipment Repair -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-solid fa-filter fa-3x text-success mb-3"></i>
                        <h5 class="mt-2">Screening</h5>
                    </div>
                </div>
                <!-- CPE -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-solid fa-arrow-up-from-bracket fa-3x text-info mb-3"></i>
                        <h5 class="mt-2">Testing & Upgrade</h5>
                    </div>
                </div>
                <!-- Industrial -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-solid fa-gears fa-3x text-warning mb-3"></i>
                        <h5 class="mt-2">Repair</h5>
                    </div>
                </div>
                <!-- Power / Energy -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="d-flex flex-column align-items-center">

                        <i class="fa-solid fa-money-bill-trend-up fa-3x text-danger mb-3"></i>
                        <h5 class="mt-2">Refurfishment & Sale</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>