<section class="mb-5">
    <div class="container">
        <h1 class="text-center mt-4 mb-5">
            Refurbished
            Electronics
        </h1>
        <div>
            <h1>Maximise your customer's satisfaction with our outstanding services</h1>
            <h6 class="text-center">
                We develop local solutions for reconditioning for your Electronics Products: CPE, computer hardware, audio/video equipment, etc.

            </h6>
            <h6 class="text-center fw-bold mt-3 mb-4">
                Our expertise: QUALITY RECONDITIONING PROCESSES BASED ON OUR MANUFACTURER-CERTIFIED REPAIR PROCESSES.
            </h6>
        </div>
        <div class="row flex-column flex-md-row mt-5">
            <div class="col col-md-6">
                <h2 class="mt-3">Reconditioning Ensure the quality of reconditioned products</h2>
                <p class=" mt-5">We are experts in high-tech equipment, developing<span class="fw-bold"> QUALITY RECONDITIONING PROCESSES BASED ON OUR MANUFACTURER-CERTIFIED REPAIR PROCESSES.</span> For each reconditioned product, our quality team performs functional testing and visual checks at line exit. Our accredited technicians complete the checks by performing a visual qualification of products based on customisable criteria. We send any non-reusable elements for clean destruction by companies specializing in raw material recycling.</p>
            </div>
            <div class="col col-md-6 justify-content-center">
                <img class="img-fluid shadow-sm" src="~/assets/Refurbished.jpg" width="100%" style="border-radius:10px" />
            </div>
        </div>
    </div>
    <div class="container mt-5">

        <div class="row flex-column flex-md-row">
            <div class="col col-md-6">
                <h1>Connect with Us for More Details</h1>
            </div>
            <div class="col col-md-6">
                <a class="btn btn-primary" asp-controller="Home" asp-action="Contact">Contact Us</a>
            </div>
        </div>
    </div>
</section>
