<section class="mb-5">
    <div class="container">
        <h1 class="text-center mt-5 mb-5">
            COMPONENTS & PARTS SALES
        </h1>
        <div>
           
            <h5 class="mb-3" >
                Cellnfra has been in electronic parts sales, supplying electronics OEMs and high-tech companies involved in research and development with outstanding service in searching and supplying hard-to-find parts and special purpose electronics components and assemblies across the globe.
            </h5>
            <h5 class="mb-3">
                If you need to source obsolete and hard-to-find electronics, take advantage of our connections and expertise. Cellnfra has established a sourcing network that spans North America, Asia, and Europe, partnering with major distributors to provide your required components.We fill the gaps where other companies can’t, and act as your trusted partner in electronic parts sales, ensuring your project is completed according to specifications with the highest quality of parts at the shortest lead time possible.
            </h5>
            <h5 class="mb-3">
                We also maintain an ESD environment, which is inventory and work area ESD certified.
            </h5>
            <h5 class="mb-5">
                In addition to providing high-quality products in the fastest and most efficient way possible, Cellnfra also offers a multitude of services in electronic parts sales to help our clients solve their growing business problems.Buyers value Cellnfra as a business partner, recognizing our ability to offer the best combination of quality, service, and price.
            </h5>
        </div>
       
    </div>
    <div class="container mt-5">

        <div class="row flex-column flex-md-row">
            <div class="col col-md-6">
                <h1>Connect with Us for More Details</h1>
            </div>
            <div class="col col-md-6">
                <a class="btn btn-primary" asp-controller="Home" asp-action="Contact">Contact Us</a>
            </div>
        </div>
    </div>

</section>
