<style>
    .sectionGrdient {
        color: white;
        background-color: #121b2c;
        background-image: radial-gradient(59% 78% at 7% -2%, #1F3745 0%, transparent 100%), radial-gradient(56% 90% at 88% 46%, #2A1D30 0%, transparent 100%);
    }

    h1 {
        font-family: "Gotham", Arial;
        font-weight: bold;
    }

    .custom-list {
        list-style-type: disc; /* Ensures dots are displayed */
        padding-left: 20px; /* Indent for bullets */
    }

        .custom-list li {
            margin-bottom: 10px; /* Space between list items */
            color: inherit; /* Keep text color as default */
            font-size: 1rem; /* Adjust text size if needed */
            line-height: 1.5; /* Improve readability */
        }

            .custom-list li::marker {
                color: #68e1fd; /* Primary color for bullet dots */
                font-size: 1.2rem; /* Slightly larger bullet dots */
            }
</style>
<div class="container-fluid py-5 p-0">
    <section id="">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="/assets/e-waste1.jpg" alt="e-waste" class="img-fluid" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>
                        Electronic waste, or e-waste, is a term for electronic products that have become unwanted, non-working or obsolete, and have essentially reached the end of their useful life. As per E-waste Rule 2016, the E waste defined as ‘electrical and electronic equipment, whole or in part discarded as waste by the consumer or bulk consumer as well as rejects from manufacturing, refurbishment and repair processes.
                    </p>
                    <p>
                        E-waste contains many valuable, recoverable materials such as aluminium, copper, gold, silver, plastics, and ferrous metals. In order to conserve natural resources and the energy needed to produce new electronic equipment from virgin resources, electronic equipment can be refurbished, reused, and recycled instead of being land-filled.
                    </p>
                    <p>
                        E-waste also contains toxic and hazardous materials including mercury, lead, cadmium, beryllium, chromium, and chemical flame retardants, which have the potential to leach into our soil and water.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="E-waste-Recycling" class="mb-3 sectionGrdient py-5">
        <div class="container">
            <h1 class="fw-bold text-center mb-5">Benefits of E-waste Recycling</h1>
            <div class="row align-items-center mb-4">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Electronics Recycling Conserves Natural Resources:</h2>
                    <p>CTS, an innovative, process driven, customer friendly business model that will disrupt the large unorganized market for post sales services for telecom market. we are building a trusted brand of on demand repair services that can be scaled further to disrupt other related segments.</p>
                    <p>“There is a huge scope of improvement in after-sales operations of Telecommunication equipment repairs – in terms of process adherence, customer experience and adoption of technology, specifically in the hardware repair vertical’’</p>
                    <p>CTS use the advanced tech tools to repair and deliver the equipment’s in the minimum possible time with real-time updates to customers using the best of repair processes and to ensure the highest quality, all this, at a transparent and affordable cost.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Electronics Recycling Supports the Community:</h2>
                    <p>Recycling electronics benefits local communities by redirecting valuable resources that would otherwise be wasted. Donated or refurbished electronics can be used to bridge the digital divide, enabling low-income families, schools, and non-profits to access technology they might not otherwise afford.</p>
                    <p>Moreover, responsible recycling prevents toxic materials from polluting neighborhoods, protecting local ecosystems and reducing harmful health impacts. It also fosters awareness about sustainability, encouraging community members to adopt eco-friendly habits. By participating in e-waste recycling programs, communities strengthen their environmental stewardship and create a culture of responsibility and care.</p>
                    <p>This collective effort enhances the quality of life for everyone while preserving the planet for future generations.</p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Electronics Recycling Creates Employment Locally:</h2>
                    <p>E-waste recycling generates job opportunities within local communities by fostering a demand for skilled workers. From collection to sorting, disassembly, and refurbishment, the recycling process requires a range of labor, supporting employment in diverse roles. Many facilities also provide training programs, equipping workers with valuable skills in technology repair and environmental management.</p>
                    <p>This not only boosts the local economy but also empowers individuals with sustainable careers. Additionally, small and medium enterprises often emerge to support recycling initiatives, further contributing to economic growth.</p>
                    <p>By participating in recycling programs, communities not only reduce e-waste but also stimulate job creation, promoting a greener and more inclusive economy.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Electronics Recycling Helps Protect Public Health and the Environment</h2>
                    <p>Proper e-waste recycling is essential to safeguarding public health and the environment. Many electronics contain hazardous substances like lead, mercury, and cadmium, which can leach into the soil and water if improperly disposed of.</p>
                    <p>Recycling ensures these toxins are safely extracted and managed, reducing pollution and minimizing the risk of health issues such as respiratory problems or neurological damage. Additionally, recycling conserves natural resources by recovering valuable materials like gold, copper, and aluminum, reducing the need for environmentally destructive mining activities.</p>
                    <p>By supporting recycling efforts, individuals and businesses help mitigate climate change, promote cleaner air and water, and create a healthier, more sustainable planet.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="Collection-Mechanism" class="py-5">
        <div class="container">
            <h1 class="text-center">Collection Mechanism of e-waste</h1>
            <h5 class="text-center"> The company had planned to adopted the Buy-back Scheme:</h5>
            <div class="row  mb-2">
                <div class="col-lg-4 col-md-4 col-sm-12"><p>Under Buy back Scheme, in cases where the customer wants to discard their old product, they may call at the Toll-Free number (18001025679) and our representatives shall approach to the customer and buy the said discarded product from the customer and in consideration.</p></div>
                <div class="col-lg-4 col-md-4 col-sm-12"><p>The Customer shall also be free to deposit the discarded product at the nearest collection point and he will get the discount voucher and shall be eligible for the discount on purchase of selected new product of the Company. The company will coordinate with other independent vendors who may sale the e- waste/EOL product collected by them.</p></div>
                <div class="col-lg-4 col-md-4 col-sm-12"><p>The Company will furthermore elaborate its scheme and shall keep updating the same based on the experience faced while implementing the said schemes on a quarterly basis.</p></div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="~/assets/e-waste2.png" alt="e-waste" class="img-fluid" style="max-width:90%;" />
                    <h4 class="text-center">Direct Collection from Customer’s premises</h4>
                    <p>For collection of e-waste The Company has setup toll free number where any customer may call and register itself for either depositing its old product as free of cost or otherwise under buy-back programme initiated by company. The company shall give its toll free number on their product manuals, website, and social networking platforms and at its various connected premises for its customer information for disposal of their e-waste. The customer can directly call on these numbers and the e-waste will be directly collected by the company or by its recycler partner. The company has recycler partner who has manage logistic service through OM Logistics Ltd. available at most of the locations at its collection centres.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="~/assets/e-waste3.png" alt="e-waste" class="img-fluid" style="max-width:90%;" />
                    <h4 class="text-center">Recycling of E-waste</h4>
                    <p>The Company has tied -up with the E-Waste Recyclers India for collection of all our E-waste on PAN India and disposes the same at their plant at Shed No.15, Roz ka Meo Industrial Area, Nuh, Haryana. Customer can reach or call on Toll Free No. 18001025679. Our representatives explain them about process of disposal and make them aware about nearest drop point available to drop the e-waste also give information about incentive we will offer to them against their end of life product. If any customer wants to handover the material from their door steps, we do send either our logistics team or E-waste Solutions team to collect the items and channelize the same to our e waste partner plant for final processing.</p>
                </div>
            </div>

        </div>
    </section>

    <section id="do-dont" class="sectionGrdient py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 ">
                    <h1 class="text-center">Do</h1>
                    <img src="/assets/like.png" alt="do" class="img-fluid mx-auto d-block" />
                    <ul class="custom-list"><li>Always look for information on the catalogue with your product for end-of-life equipment handling.</li><li>Ensure that only Authorized Recyclers/Dismantler handle your electronic products</li><li>Always call at our toll-free No’s to dispose products that have reached end-of life</li><li>Always drop your used electronic products, batteries or any accessories when they reach the end of their life at your nearest Authorized E-Waste Collection Points.</li><li>Always disconnect the battery from product, and ensure any glass surface is protected against breakage.</li></ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="text-center">Don't'</h1>
                    <img src="~/assets/deslike.png" alt="dont" class="img-fluid mx-auto d-block" />
                    <ul class="custom-list"><li>Do not dismantle your electronic Products on your own</li><li>Do not throw electronics in bins having “Do not dispose “sign.</li><li>Do not give e-waste to informal and unorganized sectors like Local Scrap Dealer/ Rag Pickers.</li><li>Do not dispose your product in garbage bins along with municipal waste that ultimately reaches landfills.</li></ul>
                </div>
            </div>
        </div>
    </section>
</div>