<section class="mb-5">
    <div class="container">
        <h1 class="text-center mt-5 mb-5">
            Reverse logistics and supply chain
        </h1>       
        <div class="row flex-column flex-md-row mt-5">           
            <div class="col col-md-6 justify-content-center">
                <img class="img-fluid shadow-sm" src="~/assets/Reverse.png" width="100%" style="border-radius:10px" />
            </div>
            <div class="col col-md-6">
                <h2 class="mt-3 mb-4">Reverse logistics and supply chain</h2>
                <p class=" mt-4">Reverse logistics start at the end consumer, moving backward through the supply chain to the distributor or from the distributor to the manufacturer. Reverse logistics can also include processes where the end consumer is responsible for the final disposal of the product, including recycling, refurbishing, or resale.</p>
                <p class=" mt-4">Globally, companies are changing the ways they address waste, and the supply chain is a big piece of that initiative. These reverse logistics examples focus on returns, exchanges and recycling.</p>
                <p class=" mt-4">Cellnfra Supports Reverse logistics for many telecoms, IT, and Lifestyle products companies.</p>
                <h4 class="mt-3">Save time and money by securing supplies.</h4>
            </div>
        </div>
    </div>
    <div class="container mt-5">

        <div class="row flex-column flex-md-row">
            <div class="col col-md-6">
                <h1>Connect with Us for More Details</h1>
            </div>
            <div class="col col-md-6">
                <a class="btn btn-primary" asp-controller="Home" asp-action="Contact">Contact Us</a>
            </div>
        </div>
    </div>
</section>
