<style>
    h1 {
        font-family: "Gotham", Arial;
        font-weight: bold;
    }
    .customRadious {
        border-radius: 1rem !important;
    }

    .sectionGrdient {
        color: white;
        background-color: #121b2c;
        background-image: radial-gradient(59% 78% at 7% -2%, #1F3745 0%, transparent 100%), radial-gradient(56% 90% at 88% 46%, #2A1D30 0%, transparent 100%);
    }

   

</style>
<div class="container-fluid p-0">
    <section id="who-we-are" class="mb-5 py-5">
        <div class="container">
            <!-- Section Title -->
            <h1 class="text-dark text-center mb-4">Who Are We</h1>

            <!-- Row with Image and Text -->
            <div class="row align-items-center">
                <!-- Image Column -->
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
                    <img src="~/assets/whoWeAre.jpg" alt="whoWeAre" class="img-fluid customRadious" style="max-width: 80%;">
                </div>
                <!-- Text Column -->
                <div class="col-lg-6 col-sm-12">
                    <p class="text-dark">

                        We Cellnfra Tech Solutions Pvt Ltd (CTS) established in early 2020, with a view to increasing the life of electronic products through innovation, technology, and best-in-class processes to generate value for our customers.

                        Cellnfra supports organizations with Electronics aftermarket Services for Telecom, IT and Power / Energy, and Industrial products. Our team is dedicated to providing the best service possible to our customers. We want to see the success of our customers through continued partnership and cost-effective service offerings including returns, repairs, shipping, and logistics.

                        We achieve this by offering a highly skilled and dynamic team and keeping up with the latest information and communication technologies, unique integration skills, analytic applications knowledge, and best practice expertise.We have been delighting our customers across the industry segments Telecom, IT, ISP, Industrial, and Defence.

                        Management consists of professionals with more than 120+ man-years of combined deep domain experience and knowledge in the fields of Post sales services, supply chain management, engineering, technology, services, repair, and refurbishment.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="what-we-do" class="sectionGrdient py-5">

        <div class="container">
            <!-- Section Title -->
            <h1 class=" text-center mb-4">What We Do</h1>

            <!-- Row with Image and Text -->
            <div class="row align-items-center mb-5">

                <!-- Text Column -->
                <div class="col-lg-6 col-sm-12">
                    <p class="">
                        Cellnfra is India’s emerging Telecom, IT, and Industrial Hardware support services provider, services industries with most complex component level repairs, helping in-country services for Global OEMs products.

                        CTS use advanced tech tools to repair and deliver the equipment in the minimum possible time with real-time updates to customers using the best of repair processes and to ensure the highest quality, all this, at a transparent and affordable cost.

                        We also offer services to our clients requiring warehousing and logistics support, streamlining the shipping and returns processes. With our years of experience and our record of success, our clients know that they can trust us to get the job done!

                        Cellnfra  Solutions processes thousands of shipments and returns on a daily basis. Our Pan India logistics network helps us to handle the material transport quickly between our repair canter to our customers..
                    </p>
                </div>
                <!-- Image Column -->
                <div class="col-lg-6 col-sm-12">
                    <img src="~/assets/whoWeAre2.jpg" alt="WhatWeDo" class="img-fluid customRadious">
                </div>
            </div>
        </div>
    </section>

    <section id="our-strength" class="mb-5 py-5">
        <div class="container">
            <!-- Section Title -->
            <h1 class="text-dark text-center mb-4">Our Strength</h1>

            <!-- Row with Image and Text -->
            <div class="row align-items-stretch">
                <!-- Card 1 -->
                <div class="col-lg-4 col-sm-12 mb-4">
                    <div class="card h-100 d-flex flex-column justify-content-center align-items-center ">
                        <img src="~/assets/ourStrength1.png" class="card-img-top customRadious " alt="Our Strength" style="max-width: 90%;">
                        <div class="card-body d-flex flex-column">
                            <p class="card-text mt-auto">
                                Constructing a long-term relationship with our customers & be recognized as the most preferred Partner.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="col-lg-4 col-sm-12 mb-4">
                    <div class="card h-100 d-flex flex-column justify-content-center align-items-center ">
                        <img src="~/assets/ourStrength2.jpg" class="card-img-top customRadious" alt="Our Strength" style="max-width: 90%;">
                        <div class="card-body d-flex flex-column">
                            <p class="card-text mt-auto">
                                Enhance the Product life & Network uptime at a competitive cost to ensure our customers have a low cost of ownership throughout the product life cycle by innovative services and solutions.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="col-lg-4 col-sm-12 mb-4">
                    <div class="card h-100 d-flex flex-column justify-content-center align-items-center ">
                        <img src="~/assets/ourStrength3.png" class="card-img-top customRadious" alt="Our Strength" style="max-width: 90%;">
                        <div class="card-body d-flex flex-column">
                            <p class="card-text mt-auto">
                                Quality Policy <br>
                                Quality Management System – ISO 9001:2015
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>