<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cellnfra1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cellnfra1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .bg-custom {
            background-color: #035a32 !important; /* Bootstrap primary blue */
        }
        .navbar {
            background-color: transparent !important;
            box-shadow: none !important;
        }
        .navbar .nav-link,
        .navbar .navbar-brand {
            color: #fff !important;
        }
        .navbar .nav-link:hover,
        .navbar .navbar-brand:hover {
            color: black !important;
        }
        .effectHover li a {
            color: #B0B9C7;
            text-decoration: none;
            display: inline-block;
            
        }
        .effectHover li a:hover {
            color: black;
        }

        .blue-ribbon {
            background-color: #25376A;
            ; /* Bootstrap blue */
            color: white;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Arial, sans-serif;
            font-size: 16px;
        }

            .blue-ribbon .left,
            .blue-ribbon .right {
                display: flex;
                align-items: center;
                gap: 25px;
            }

            .blue-ribbon a {
                color: white;
                text-decoration: none;
            }

                .blue-ribbon a:hover {
                    text-decoration: underline;
                }

        .flag {
            font-size: 18px;
        }
        @@media (max-width: 426px) {
            .blue-ribbon .right {
                gap:10px;
            }

            .blue-ribbon{
                font-size:11px;
            }

        }
    </style>
</head>
<body>
    <div class="blue-ribbon">
        <div class="left">
            
        </div>
        <div class="right">
            <a href="https://www.linkedin.com/in/yourprofile" target="_blank">
                <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
            <span class="flag"><img src="~/assets/world.png" width="30" /></span>
            <span>+91 93537 62223</span>
            <a href="mailto:contact@example.com">info@cellnfra.com</a>
        </div>
    </div>
    <header class="sticky-top z-3 bg-custom">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/cellnfralogo1.png" width="190px"/></span></a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars " style="color: #68e1fd;"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="gap: 35px; margin-left:30px;">
                        <li class="nav-item">
                            <a class="nav-link text-white fs-4" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-4" asp-area="" asp-controller="Home" asp-action="WhyUs">Why Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white fs-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Service
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="~/Home/ElectronicsRepairs">Electronics Repairs</a></li>
                                @*  <li><a class="dropdown-item" href="#">Assembly & Test</a></li>
                                <li><a class="dropdown-item" href="#">Electronic Refurbish</a></li>
                                <li><a class="dropdown-item" href="#">Electronics Parts Sales</a></li>
                                <li><a class="dropdown-item" href="#">Reverse Logistics & Supply Chain</a></li>
                                <li><a class="dropdown-item" href="#">Bespoke Solutions</a></li> *@

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white fs-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Markets
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="~/Home/Telecom">Telecom</a></li>
                                @*  <li><a class="dropdown-item" href="#">CPE Data Network</a></li>
                                <li><a class="dropdown-item" href="#">Industrial Electronics</a></li>
                                <li><a class="dropdown-item" href="#">Power & Energy</a></li>
                                <li><a class="dropdown-item" href="#">Optical Networks</a></li>     *@                            
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-4" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-4" asp-area="" asp-controller="Home" asp-action="EWasteManagement">E-Waste Management</a>
                        </li>
                        @* <li class="nav-item ">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li> *@

                    </ul>
                    <ul class="navbar-nav ms-lg-auto ">
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold fs-4" href="http://cellnfra.alfaship.in/" target="_blank">RMS Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <section style="padding: 40px 0; background-color: #f8f9fa;">
        <!-- Light gray bg for the section -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10 col-sm-12">
                    <!-- Card Wrapper -->
                    <div class="card  border-0" style="background-color: #e7ebf2;">
                        <div class="card-body text-center p-5">
                            <!-- Heading -->
                            <h4 class=" mb-3 fw-normal spa" style="letter-spacing:2px;">GET STARTED</h4>
                            <h2 class="mb-2">We are ready to help with your</h2>
                            <h2 class="mb-4">network equipment and services needs.</h2>

                            <!-- Description -->
                            @* <p class="lead mb-4">
                                Call us
                                <span style="color:#121b2c;">805.879.5050</span>
                                or
                                <span style="color:#121b2c;">Request a Quote</span> online.
                            </p>    *@                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: #1a1f36; color: #ffffff; padding: 40px 0;">
        <div class="container">
            <div class="row">
                <!-- Address Section -->
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <h5 class="fw-bold mb-3">Celln<span style="color: #68e1fd;">fra</span></h5>
                    <p>#4/5, 1st Floor</p>
                    <p>Maruti Industrial Park</p>
                    <p>Whitefield Road</p>
                    <p>Next to Hotel Zuri Rajapalya</p>
                    <p>Hoody Village</p>
                    <p>Bengaluru, 560048</p>
                    <p>Karnataka</p>

                    <h6 class="fw-bold mt-4">For Sales</h6>
                    <p><a href="tel:+91 93537 62223" style="color: #68e1fd; text-decoration: none;">+91 93537 62223</a></p>
                    <p><a href="mailto:sales@tempestns.com" style="color: #68e1fd; text-decoration: none;">info@cellnfra.com</a></p>
                </div>

                <!-- Select Highlights Section -->
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <h6 class="fw-bold mb-3">Markets</h6>
                    <ul class="list-unstyled effectHover">
                        <li><a href="/Home/Telecom">Telecom</a></li>
                        <li><a href="/">Optical Networks</a></li>
                        <li><a href="/">Industrial Electronics</a></li>
                        <li><a href="/">CPE Data Networks</a></li>
                       @*  <li><a href="/" >Careers</a></li>
                        <li><a href="/" >Executive Management Team</a></li>
                        <li><a href="/" >SFP Transceivers</a></li>
                        <li><a href="/" >Site Monitoring</a></li> *@
                    </ul>
                </div>

                <!-- Network Solutions Section -->
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <h6 class="fw-bold mb-3">About Company</h6>
                    <ul class="list-unstyled effectHover">
                        <li><a href="/Home/WhyUs" >About Company</a></li>
                        <li><a href="/Home/Contact" >Contact Us</a></li>
                        <li><a href="/" >Privacy policy</a></li>
                        <li><a href="/" >Mission & Vision</a></li>
                        <li><a href="/" >Terms & Conditions</a></li>
                    </ul>
                </div>

                <!-- Industries Section -->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h6 class="fw-bold mb-3">Life Cycles Services</h6>
                    <ul class="list-unstyled effectHover">
                        <li><a href="/Home/ElectronicsRepairs" >Electronics Repairs</a></li>
                        <li><a href="/" >Assembly & Retrofitting</a></li>
                        <li><a href="/" >Refurbished Electronics</a></li>
                        <li><a href="/" >Reverse logistics and supply chain</a></li>
                        <li><a href="/" >Bespoke Solutions</a></li>
                        @* <li><a href="#" >Equipment Manufacturers</a></li>
                        <li><a href="#" >Enterprise</a></li>
                        <li><a href="#" >DAS Neutral Hosts</a></li> *@
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <footer class="border-top footer text-muted" style="background-color: #1a1f36; color:#8e97a0 !important;">
        <div class="container">
            &copy; 2025 - Cellnfra 
       
           
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/678d0507825083258e077f9c/1ihvdn9k9';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
